[submodule "miui_updates_tracker/common/database"]
	path = miui_updates_tracker/common/database
	url = https://github.com/XiaomiFirmwareUpdater/database.git
[submodule "miui_updates_tracker/social/xda_poster"]
	path = miui_updates_tracker/social/xda_poster
	url = https://github.com/yshalsager/XDA-Poster
