discord:
  bot_token:
telegram:
  bot_token:
  chat: MIUIUpdatesTracker
twitter:
  consumer_key:
  consumer_secret:
  access_token:
  access_token_secret:
facebook:
  page_id:
  page_token:
git_oauth_token:
source: tracker_official
connection_string: mysql+mysqldb://user:password@localhost/miui_updates_tracker