[tool.poetry]
name = "miui_updates_tracker"
version = "0.1.0"
description = ""
authors = ["yshalsager <ysh-alsager@hotmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
PyYAML = "^6.0"
sqlalchemy = "^2.0.0"
mysqlclient = "^2.1.1"
beautifulsoup4 = "^4.11.1"
requests = "^2.28.2"
humanize = "^4.4.0"
aiohttp = {extras = ["speedups"], version = "^3.7.4"}
python-telegram-bot = "^13.15"
"discord.py" = "^2.0.0"
feedgen = "^0.9.0"
tweepy = "^4.12.1"
facebook-sdk = "^3.1.0"
sshtunnel = "^0.4.0"

[tool.poetry.dev-dependencies]
pytest = "^7.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
