[tool.poetry]
name = "miui_updates_tracker"
version = "0.1.0"
description = ""
authors = ["yshalsager <ysh-alsager@hotmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
PyYAML = "^5.4.1"
sqlalchemy = "^1.4.20"
mysqlclient = "^2.0.3"
beautifulsoup4 = "^4.9.3"
requests = "^2.25.1"
humanize = "^3.9.0"
aiohttp = {extras = ["speedups"], version = "^3.7.4"}
python-telegram-bot = "^13.6"
"discord.py" = "^1.3.4"
feedgen = "^0.9.0"
tweepy = "^3.10.0"
facebook-sdk = "^3.1.0"
sshtunnel = "^0.4.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
