[tool.poetry]
name = "miui_updates_tracker"
version = "0.1.0"
description = ""
authors = ["yshalsager <ysh-alsager@hotmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
PyYAML = "^6.0"
sqlalchemy = "^1.4.28"
mysqlclient = "^2.1.0"
beautifulsoup4 = "^4.10.0"
requests = "^2.26.0"
humanize = "^3.13.1"
aiohttp = {extras = ["speedups"], version = "^3.7.4"}
python-telegram-bot = "^13.9"
"discord.py" = "^1.3.4"
feedgen = "^0.9.0"
tweepy = "^4.4.0"
facebook-sdk = "^3.1.0"
sshtunnel = "^0.4.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
